/*тул типы => https://vk.com/wall-125614288_1303 */
[data-title] {
  position: relative;
  &:hover::before {
    content: attr(data-title);
    position: absolute;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
  }
  /*позиционирование тултипов*/
  &[data-title-right-top]:hover::before {
    left: 10px;
    bottom: -18px;
  }
  &[data-title-left]:hover::before {
    left: -80px;
    bottom: 6px;
  }
  &[data-title-top]:hover::before {
    left: -10px;
    top: -25px;
  }

  &[data-title-left-top]:hover::before {
    left: 0px;
    bottom: 20px;
  }

  &[data-title-bottom]:hover::before {
    left: -6px;
    top: 45px;
  }
  &[data-title-right]:hover::before {
    left: 49px;
    bottom: 10px;
  }
}

/*
[data-title] {
  outline: red dotted 1px;*/ /*optional styling
  font-size: 30px; */ /*optional styling
  position: relative;
   cursor: help;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  left: -8px;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}
[data-title]:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}
*/
