.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btns > div {
  width: 96px;
}

.wide-btn {
  text-align: center;
  width: 100%;
  border-radius: 0;
}

.modal-buttons {
  background-color: #4caf50;
  border: none;
  width: 88px;
  color: white;
  border-radius: 10px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
  transition: 0.3s;
}
.modal-buttons:hover {
  background: #6fa7d1;
  border: 2px solid #428bca;
  padding: 3px 0;
  transform: scale(1.1);
}
.modal-buttons:active {
  transform: scale(0.9);
}

.v-viewer-modal {
  display: flex;
  flex-direction: column;
}


.viewer-title *,
.viewer-title > div > *,
.viewer-title > div > * > *,
.v-viewer-modal-img * {
  color: white !important;
  font-size: 20px !important;
  font-family: monospace !important;
}

.v-viewer-modal-custom > div {
  padding: 5px;
  border: 1px solid rgb(0, 103, 152);
}

.text-center {
  text-align: center;
}

#photos_modal {
  padding: 5px;
  padding-right: 33px;
}

.ui-widget {
  font-size: unset;
}

.div_img_prev a {
  display: block;
  width: 50px;
  text-decoration: unset;
  text-align: left;
}
.div_img_prev a:hover {
  color: red;
}

.viewer-toolbar * {
  /*FIX: какой-то олень всем елементам задал сайз (на рабочем сайте) .!. */
  font-size: 0px !important;
}

div#photos_modal {
  margin: 10px;
}

.v-viewer-modal.v-viewer-modal-custom,
.ui-dialog {
}
