/*insections_data.xsl=>*/

.bg-red {
  background: red;
}
.bg-blue {
  background: #004673;
}
.bg-green {
  background: green;
}

.bt-blue:hover,
.bg-green:hover {
  color: red;
}

.badge {
  border-radius: 20px;
  padding: 0px 5px;
  margin-left: 3px;
  font-size: 0.7rem;
}

.ui-dialog .ui-dialog-content {
  overflow: overlay;
}
/*<=insections_data.xsl*/

/*тул типы => https://vk.com/wall-125614288_1303 */
[data-title] {
  position: relative;
  &:hover::before {
    content: attr(data-title);
    position: absolute;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
  }
  /*позиционирование тултипов*/
  &[data-title-left]:hover::before {
    left: -50px;
    bottom: 6px;
  }
  &[data-title-top]:hover::before {
    left: -10px;
    top: -25px;
  }

  &[data-title-left-top]:hover::before {
    left: 0px;
    bottom: 20px;
  }

  &[data-title-bottom]:hover::before {
    left: -6px;
    top: 45px;
  }
  &[data-title-right]:hover::before {
    left: 49px;
    bottom: 10px;
  }
}
