.nav-btns {display: flex;justify-content: space-between; align-items: center;}
.v-viewer-modal {display: flex;flex-direction: column; }
.v-viewer-modal-img img {max-height: 111px;width: 111px;cursor: pointer;margin: 0px 5px 5px 0;}
.viewer-title > div > *,.viewer-title > div > * > *,.v-viewer-modal-img * {color: white !important;font-size: 20px !important;font-family: monospace !important;}
.nav-btns>div {width: 96px;}
button.modal-buttons{
    background-color: #4CAF50;
    border: none;
    width: 88px;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
  }
  button.modal-buttons:hover {
    background: #6fa7d1;
    border: 2px solid #428bca;
    padding: 3px 0;
}

.v-viewer-modal-custom>div {
  padding: 5px;
  border: 1px solid rgb(0,103,152);
}




/*insections_data.xsl=>*/
a.redHover { text-decoration: none; }
a.redHover:hover{ color: red;}
.bg-red{
  background: red;
}
.bg-blue{
  background: #004673;
}
.bg-green{
  background: green;
}

.bt-blue:hover, .bg-green:hover{color: red;}
.badge {
    border-radius: 20px;
    padding: 0px 5px;
    margin-left: 3px;
    font-size: .7rem;
}
/*<=insections_data.xsl*/